{
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "/context/",
    "/containers/",
    "/hooks/",
    "/components/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
