html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg * {
  transition: all 125ms ease-out;
}

.countries-of-world {
  fill: #cfcfcf;
  margin: auto;
  max-height: 500px;
  margin: 16px;
}

.countries-of-world::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: (9 / 16) * 100%;
}
.countries-of-world::after {
  content: "";
  display: table;
  clear: both;
}

.highlight-on-hover:hover {
  fill: #89a0b1;
  transition: all 500ms ease-out;
}

.selected {
  fill: #4287f5;
}
