html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body,
#__next {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg * {
  transition: all 125ms ease-out;
}

.quiz-map-controls {
  margin-left: 8px;
  margin-right: 8px;
}

.react-modal-sheet-drag-indicator {
  background-color: transparent !important;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.react-multi-carousel-list::before {
  content: " ";
  height: 100px;
  width: 48px;
  position: absolute;
  left: -6px;
  z-index: 1;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

.react-multi-carousel-list::after {
  content: " ";
  height: 100px;
  width: 48px;
  position: absolute;
  right: -6px;
  z-index: 1;
  background: -moz-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}
